<!doctype html>
<html>
	<head>
    <link rel="stylesheet" href="/static/lmr/web fonts/stylesheet.css">
		<link rel="stylesheet" href="/static/style.css">
		<title>Essocony&mdash;{{article.meta.title}}</title>
	</head>
	<body>
    <div class="toc">
      <ul>
        {{#each articles}}
          <li><a href="/#/article/{{meta.slug}}">{{{meta.title}}}</a></li>
        {{/each}}
      </ul>
    </div>
		<div class="title">
      <h1 class="title"><a href="/">Essocony</a></h1>
		</div>
		<div class="article">
      <h1 class="article-title"><a href="/article/{{article.meta.slug}}">{{{article.meta.title}}}</a></h1>
			<h2 class="date">{{article.meta.author}}&mdash;{{article.meta.posted}}</h2>
			<div class="text">
				{{{article.contents}}}
			</div>
		</div>
	</body>
</html>
