<!doctype html>
<html>
	<head>
    <link rel="stylesheet" href="/static/lmr/web fonts/stylesheet.css">
		<link rel="stylesheet" href="/static/style.css">
		<title>Essocony</title>
	</head>
	<body>
    <div class="toc">
      <ul>
        {{#each articles}}
          <li><a href="#/article/{{meta.slug}}">{{{meta.title}}}</a></li>
        {{/each}}
      </ul>
    </div>
		<div class="title">
      <h1 class="title"><a href="/">Essocony</a></h1>
		</div>
		{{#each articles}}
      <div class="article" id="/article/{{meta.slug}}">
        <h1 class="article-title"><a href="/article/{{meta.slug}}">{{{meta.title}}}</a></h1>
				<h2 class="date">{{meta.author}}&mdash;{{meta.posted}}</h2>
				<div class="text">
					{{{contents}}}
				</div>
			</div>
		{{/each}}
	</body>
</html>
